header {
  .white-block {
    height: 55px;
    line-height: 55px;
    font-size: 18px;
    font-family: Bebas, 'BebasNeue', serif;
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      font-size: 26px;
      height: 78px;
      line-height: 78px;
    }
    color: #303942;
    padding: 0 38px;
    text-transform: uppercase;
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    img {
      height: 21px;
      @media screen and (min-width: map-get($grid-breakpoints, sm)) {
        height: 32px;
      }
      margin-left: 10px;
      vertical-align: sub;
    }
  }
  .black-block {
    height: 55px;
    line-height: 55px;
    font-size: 12px;
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      height: 78px;
      line-height: 78px;
      font-size: 18px;
    }
    color: #fff;
    padding: 0 45px;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    @media (min-width: 768px) {
      text-align: right;
      float: right;

    }
  }
  .container-header {
    .btn.btn-yellow {
      position: absolute;
      line-height: 1;
      &.btn-circle {
        bottom: -40px;
        height: 50px;
        width: 50px;
        right: 50%;
        padding: 0;
        transform: translateX(50%);
        vertical-align: middle;
        line-height: 50px;

        i {
          font-size: 26px;
        }
        @media (min-width: 768px) {

          bottom: -36px;
          right: -36px;
          transform: translateX(0);
          height: 73px;
          width: 73px;
          padding: 16px 0;
          i {
            font-size: 42px;
          }
        }
      }
    }
    .red-label {
      @media screen and (min-width: map-get($grid-breakpoints, sm)) {
        position: absolute;
        left: 50%;
        top: -25px;
        transform: translateX(-50%);
      }
      height: 30px;
      line-height: 30px;
      padding: 0 15px;
      font-size: 12px;
      color: #fff;
      background-color: #F92F2F;

    }
  }
}