header {
  overflow: hidden;
  position: relative;
  @media screen and (min-width: map-get($grid-breakpoints, sm)) {
    .header-navbar {
      position: absolute;
      left: 0;
      right: 0;
      z-index: 1001;
    }
  }
  .white-block {
    img {
      max-height: 50px;
    }
  }
  .container-header {
    max-width: 420px;
    margin: 35px 0 65px;
    text-align: center;
    .black-block {
      float: none !important;
    }
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      text-align: left;
      margin: 300px auto 200px;

      .black-block {
        float: right !important;
      }
    }
    .btn-block {
      padding: 0 45px;
    }
  }
  &:before {
    border-bottom-width: 15px;
  }
}

.header-sliders {
  margin-bottom: 75px;
  .slide {
    position: relative;
    background-color: #332F30;
    padding: 10px 15px;
    height: 125px;
    margin: 0 5px;
    color: #fff;
    & > div {
      z-index: 1000;
      &.container-absolute {
        z-index: 0;
        opacity: 0.2;
      }
    }
    .comment, .comment-author, .info, .hash-tag {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-size: 12px;
    }
    .comment {
      position: relative;
    }
    .comment-author {
      position: relative;
      margin-top: 10px;
    }
    .hash-tag {
      font-size: 10px;
      font-weight: 300;
    }
    .title {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 10px;
      position: relative;
    }
    .info {
      position: absolute;
      bottom: 10px;
      left: 15px;
      right: 15px;
      span + span {
        margin-left: 15px;
      }
      .vote {
        position: absolute;
        bottom: -10px;
        right: -15px;
        font-weight: 700;
        font-family: BebasNeue, serif;
        @include button-variant(#000, #fff, transparent);
      }
    }
  }

  .slick-dots {
    bottom: -50px;
    li {
      button {
        height: 10px;
        width: 10px;
        padding: 1px;
        &:before {
          opacity: 1;
          height: 10px;
          width: 10px;
          padding: 1px;
          background-color: transparent;
          color: transparent;
          font-size: 0;
          border-radius: 50%;
          border: 2px solid #D8D8D8;
        }
      }
      &.slick-active button {
        &:before {
          color: #D8D8D8;
          border-radius: 50%;
          font-size: 0;
          background-color: #D8D8D8;
          border: 2px solid #D8D8D8;
        }
      }
    }
  }
  @media screen and (max-width: 600px) {
    display: table;
    border-spacing: 15px 0;
    float: none !important;
    &:before, &:after {
      display: none;
    }
    .slide {
      display: table-cell;
      min-width: 225px;
    }
  }
}

header .container-header-slider {
  @media screen and (max-width: 600px) {
    overflow-y: hidden;
    overflow-x: auto;
  }
}

.header-posters {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  & > .poster {
    &:before {
      content: '';
      background-color: transparentize(#000, 0.75);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 999;

    }

    height: 45%;
    min-height: 200px;

    /*
    @media screen and (min-width: map-get($grid-breakpoints, md)){
      height: 33%;
      min-height: 0;
    }
    */
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      height: 33%;
      min-height: 320px;
    }
    width: 100%;
    color: #fff;
    position: relative;
    .poster-first {
      transform: skewY(-5deg);
      position: absolute;
      left: 0;
      right: -45px;
      bottom: 0;
      top: -30px;
      z-index: 3;
      overflow: hidden;
      &:before {
        content: '';
        position: absolute;
        transform: skewY(5deg);
        top: 0;
        left: 0;
        bottom: -35px;
        right: 0;
      }
    }
    .poster-last {
      transform: skewY(5deg);
      position: absolute;
      left: 0;
      right: -45px;
      bottom: -30px;
      top: 0;
      z-index: 2;
      overflow: hidden;
      &:before {
        content: '';
        position: absolute;
        transform: skewY(-5deg);
        bottom: 0;
        left: 0;
        top: -35px;
        right: 0;
      }
    }
    .poster-center {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -25px;
      top: -25px;
      z-index: 2;
      overflow: hidden;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
      }
    }
    .event-date {
      margin-top: 30%;
      vertical-align: bottom;
      &:before {
        content: '';
        height: 100%;
        display: inline-block;
        vertical-align: bottom;
      }
    }
    .event-date, .quantity-photos, .title {
      position: relative;
      margin-left: 50px;
      font-size: 18px;
      line-height: 1.3;
      font-weight: 700;
      z-index: 1000;
      &.title {
        font-size: 32px;
      }
    }

    @media screen and (max-width: 767px) {
      .event-date {
        margin-top: 45px !important;
        font-size: 13px !important;
      }
      .title {
        margin-top: 10px !important;
        font-size: 24px !important;
      }
      .quantity-photos {
        margin-top: 5px !important;
        font-size: 13px !important;
      }
    }
  }
}

header {
  .row {
    display: block;
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      display: flex;
    }
  }
}