header {
  font-family: Bebas, BebasNeue, serif;
  letter-spacing: 1px;
  overflow: hidden;
  position: relative;
  margin-bottom: -55px;
  @media screen and (min-width: map-get($grid-breakpoints, sm)) {

    margin-bottom: 0;
    &:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      bottom: 0;
      border-bottom: 50px solid #f6f6f6;
      border-right: 2400px solid transparent;
      overflow: hidden;
    }
  }
  .container-header {
    margin: 50px auto 140px;
    text-align: center;
    padding: 0;
    @media (min-width: 768px) {
      margin: 190px auto 370px;
      text-align: left;
    }
  }
}