header {
  border-bottom: 3px solid #F92F2F;
  .container-header {
    margin: 75px auto 50px;
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      margin: 100px 0;
    }
  }
  .container-xs {
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      margin-left: 100px;
    }
  }
  .container-updates {
    position: relative;
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      padding-left: 30px;
    }
    min-height: 200px;
    h4 {
      font-size: 16px;
      color: #fff;
      font-weight: bold;
      margin-bottom: 15px;
    }
    .container-absolute {
      position: absolute;
      left: 0;
      height: 150px;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      & > .table {
        padding-bottom: 15px;
      }
    }

    .info {
      position: absolute !important;
      bottom: 10px;
      left: 0;
      right: 0;
      font-size: 10px;
      color: #fff;
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      i {
        font-size: 12px;
      }
      .table {
        background: none;
        margin: 0;
      }
    }
    .block-instagram {
      width: 125px;
      white-space: normal;
      padding: 10px;
      overflow: hidden;
      height: 125px;
      position: relative;
      .img-container {
        position: absolute !important;
        z-index: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
      }
      & > div {
        position: relative;
        z-index: 1;
        line-height: 1;
      }
      .title {
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        width: 85px;
        line-height: 1.1;
      }
      i.fa.fa-instagram {
        border-radius: 50%;
        background-color: #fff;
        height: 16px;
        width: 16px;
        line-height: 1;
        padding: 3px 4px;
        font-size: 10px;
        vertical-align: top;
        text-align: center;
      }
    }
    .block-comment {
      width: 225px !important;
      height: 125px;
      padding: 10px;
      white-space: normal;
      position: relative;
      background-color: #332F30;
      .title {
        font-size: 16px;
        font-weight: 700;
        color: #fff;
        line-height: 1.1;
      }
      .comment, .hash-tags {
        font: 12px "Helvetica Neue", sans-serif;
      }
      .comment {
        padding: 10px 0;
        color: #fff;
      }
      .hash-tags {
        a {
          color: #bd2f2f;
        }
      }

    }
  }
  .white-block {
    @media screen and (max-width: 550px) {
      padding: 0 15px;
      img {
        height: 14px;
        vertical-align: middle;
      }
    }
  }
}