.container-header {
  margin-top: 90px;
  letter-spacing: 1px;
  color: #fff;
  margin-bottom: 150px;
  .red-label {
    position: static;
    transform: translate(0);
  }
  .title {
    margin: 25px 0;
    font-size: 32px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  .author {
    font-size: 12px;
    font-weight: bold;
  }
  .date {
    margin-top: 15px;
    font-size: 12px;
  }
}

.container-fluid.container-white {
  padding: 40px 0 60px;
}

& > .container {
  max-width: 630px;
}

.news-single, .policy-tabs .tab-pane {
  max-width: 630px;
  margin: 50px 0;
  p, .helvetica-font {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 25px;
    line-height: 1.4;
  }
  > img {
    margin-bottom: 30px;
  }
  .subtitle {
    margin: 0 0 25px;
    font-size: 20px;
    font-weight: bold;

  }
  .row {
    .helvetica-font {
      margin-top: 25px;
      @media (min-width: map-get($grid-breakpoints, sm)) {
        margin-top: 0;
        padding-left: 25px;
      }
    }
  }
  .img-container {
    min-height: 130px;
  }
  .blockquote {
    font-size: 22px;
    font-weight: 300;
    line-height: 32px;
    border-left: 2px solid #F92F2F;
    padding: 7px 0 7px 25px;
    margin: 40px 0;
  }
}

.container-white {
  .container {
    max-width: 640px;
  }
}