header {
  .stars {
    font-size: 0;
    .icon-crown {
      font-size: 16px;

      color: #b5b5b5;
      & + .icon-crown {
        margin-left: 5px;
      }
      &.active {
        color: #fecc0c;
      }
    }
  }
  .party-date {
    font-size: 22px;
    font-weight: bold;
    line-height: 28px;
    color: #fff;
  }
  .title {
    font-size: 62px;
    font-weight: bold;
    line-height: 76px;
    letter-spacing: 1px;
    color: #FFFFFF;
  }
  .party-place {
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
  }
  .votes {
    padding: 0 10px;
  }
  .party-votes {
    color: #fff;
    margin-top: 20px;
    vertical-align: top;
    line-height: 1;
    .btn-vote {
      @include button-variant(#fff, transparent, transparent);
      padding: 0 15px;
    }
  }
  .party-watch {
    line-height: 54px;
    margin-top: 25px;
    span {
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 1px;
      color: #fff;
      padding-left: 10px;
      line-height: 54px;
    }
  }
  .btn-play {
    height: 54px;
    line-height: 54px;
    width: 54px;
    padding: 0;
    border: none;
    font-size: 14px;
  }
  & > .container {
    .row, .col-12 {
      position: static !important;
    }
  }
  .party-share {
    margin: 55px 0 70px;
    .btn-white {
      font-size: 16px;
      padding: 0;
      height: 32px;
      line-height: 32px;
      width: 32px;
      &.btn-like {
        width: auto;
        padding: 0 10px;
      }
    }
  }
  .fb-banner {
    width: 100%;
    max-width: 370px;
    margin-bottom: 70px;
    .img-container {
      height: 180px;
    }
    .info {
      background-color: #fff;
      text-align: left;
      padding: 7px;
      .fa.fa-facebook {
        height: 20px;
        line-height: 20px;
        width: 20px;
        background-color: #000;
        color: #fff;
        vertical-align: middle;
        text-align: center;
        font-size: 12px;
      }
      a {
        @extend .helvetica-font;
        font-size: 12px;
        line-height: 22px;
        display: inline-block;
        padding-left: 7px;
        color: #000000;
      }
    }
  }
}

.navbar-party {
  background-color: #fff;
  padding: 10px 0;
  .navbar {
    min-height: 0;
    margin-bottom: 0;
  }
  .container {
    max-width: 970px;
  }
  a {
    color: #000;
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 13px;
  }
  .navbar-left {
    li {
      float: left;
    }
    a {
      margin-top: 10px;
      padding-top: 6px !important;
      padding-bottom: 6px !important;
      &.active {
        background-color: #000;
        color: #fff;
      }
    }
  }
  .btn-parallel {
    &:before {
      background-color: #E2E2E2;
    }
    &.btn-yellow {
      &:before {
        background-color: #FECC0C;
      }
    }
  }
}

.container-party-info {

  @media screen and (min-width: map-get($grid-breakpoints, sm)) {
    .col-sm:last-child {
      max-width: 460px;
    }
  }
  .container-title {
    text-align: left;
    margin: 30px 0 10px;
  }
  .table {
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      max-width: 96%;

    }
    .td {
      border-bottom: 1px solid #EDEDED;
      padding: 12px 0;
    }
    .term {
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 1px;
      color: #000000;
      padding-right: 15px;
    }
    .helvetica-font {
      font-size: 12px;
      line-height: 18px;
      color: #000000;
      a {
        color: inherit;
      }
      .fa.fa-facebook {
        height: 20px;
        line-height: 20px;
        width: 20px;
        background-color: #000;
        color: #fff;
        vertical-align: middle;
        text-align: center;
        font-size: 12px;
      }
    }

  }
  .container-white {
    box-shadow: -20px 22px 40px 0 rgba(0, 0, 0, 0.02);
    margin-top: 40px;
    padding: 40px;
    .container-title {
      margin-top: 0;
    }
    dl {
      font-size: 13px;
      padding-top: 15px;
    }
    dt {
      display: inline-block;
      font-weight: bold;
      padding-top: 15px;
      width: 75%;
    }
    dd {
      display: inline-block;
      width: 22%;
    }
  }
}

#party-map {
  height: 360px;
  margin-top: 45px;
}

.party-lineup {
  max-width: 525px;
  margin-top: 60px;
  .container-title {
    margin: 0;
    text-align: left;
    padding-bottom: 15px;
  }
  .btn-download {
    color: #000;
  }

  .panel {
    margin-bottom: 10px;
    position: relative;
    .btn-collapse {
      position: absolute;
      @include button-variant(#000, transparent, transparent);
      right: 10px;
      top: 5px;
    }
    .panel-title {
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 1px;
    }
    .panel-body {
      border-top: 1px solid #E4E7EA;
      margin: 0 15px 20px;
      padding: 15px 0 0;
      dt {
        font-size: 12px;
        font-weight: 400;
        width: 72px;
        display: inline-block;
        white-space: nowrap;
        padding-bottom: 10px;
      }
      dd {
        font-size: 12px;
        white-space: nowrap;
        width: 49%;
        display: inline-block;
        font-weight: 500;
      }
    }
  }
}

.container-white {
  margin-top: 60px;
  .container {
    max-width: 640px;
  }
}

footer {
  margin-top: 0;
}