.collapse.container-account {
  background: #1c1c1c url("../images/login-bg.png") no-repeat center;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.container-account {
  padding: 0 0 50px;
  z-index: 9999;
  a {
    color: #fff;
    font-size: 11px;
  }
  .container-title {
    font-size: 26px;
    font-weight: bold;
    line-height: 1;
    margin: 45px 0;
    color: #FFFFFF;
  }
  .btn-facebook {
    display: block;
    height: 44px;
    @include button-variant(#fff, #3B5998, #3B5998);
    line-height: 44px;
    padding: 0;
    vertical-align: middle;
    font-size: 13px;
    font-weight: bold;
  }
  .account-form {
    margin-top: 50px;
    label {
      font-size: 12px;
      font-weight: bold;
      color: #FFFFFF;
    }
    .form-control {
      border: 1px solid #EBEBEB;
      background-color: transparent;
      height: 44px;
      line-height: 44px;
      padding: 0 15px;
    }
    .form-group {
      margin-bottom: 25px;
    }
    .btn-forgot-psw {
      text-align: right;
      padding: 10px 0 0;
      @include button-variant(#8B8B8B, transparent, transparent);
      font-size: 12px;
      line-height: 1;
      font-weight: bold;
    }
    .btn-yellow {
      height: 44px;
      line-height: 44px;
      padding: 0;
      vertical-align: middle;
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  .brand-logo {
    font-size: 72px;
    text-align: center;
    color: #fff;
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      text-align: left;
    }
  }
  .container-policy {
    color: #fff;
    position: relative;
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      max-width: 400px;
      .collapse-policy-container {
        display: block !important;
      }
    }
    font-size: 11px;
    a {
      color: #FECC0C;
    }
    .container-title {
      margin-top: 0;
      text-align: left;
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 10px;
      @media screen and (min-width: map-get($grid-breakpoints, sm)) {
        margin-bottom: 25px;
      }
    }
    .subtitle {
      font-size: 14px;
      font-weight: bold;
      margin-top: 35px;
    }
    .helvetica-font + .helvetica-font {
      margin-bottom: 20px;
    }
  }
  .btn-collapse-policy {
    position: absolute;
    right: 0;
    @include button-variant(#fff, transparent, transparent);
    font-size: 10px;
  }
  &#register-form {
    .container-xs {
      max-width: 280px;
      margin: 0 auto;
    }
  }
  .border-right {
    .container-policy {
      border-bottom: 1px solid #414141;
      padding-bottom: 15px;
      margin-bottom: 25px;
    }
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      .container-policy {
        border-bottom: none;
        padding-bottom: 0;
        margin-bottom: 0;

      }
      border-right: 1px solid #414141;
    }
  }
  .btn-close{
    position: absolute;
    top: 50px;
    right: 120px;
  }
}

.collapse-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}