& {
  min-height: 100%;
  position: relative;
  background: #1c1c1c url("../images/login-bg.png") no-repeat  fixed center;
  padding-top: 30px;
  background-size: cover;
}
a.logo{
  font-size: 70px;
  margin-bottom: 25px;
  text-align: center;
  display: block;
  @media screen and (min-width: map-get($grid-breakpoints, sm)){
    position: absolute;
    left: 0;
    padding: 0;
    top: 15px;
    text-align: left;
    max-width: 960px;
    margin: 0 auto;
    right: 0;
  }
}
.title, .container-xs{
  position: static;
}

.container-account{
  min-height: 100%;
  position: relative;
}
.container-description{
  color: #fff;
  font-size: 13px;
}
#login-form, #forgot-psw-form{
  min-height: 0;
  .container-xs{
    max-width: 375px;
  }
  .account-form{
    max-width: 280px;
    margin: 0 auto;
  }
}
#forgot-psw-form{
  .container-title{
    margin-bottom: 15px;
  }
  .container-description{
    margin-bottom: 35px;

  }
}
.container-email-sent-icon{
  text-align: center;
  color: #11E18C;
  font-size: 64px;
  padding:5px 0  20px;
}

.btn-facebook{
  max-width: 280px;
  margin:0 auto 30px;
}