input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
textarea,
.form-control,
.dropdown-toggle,
.bootstrap-select .dropdown-toggle,
.btn {
  border-radius: 0;
  box-shadow: none;
  &:hover, &:active, &:focus {
    -webkit-box-shadow: none;
    outline: -webkit-focus-ring-color auto 0;
    outline: 0 !important;
    outline-offset: 0 !important;
    box-shadow: none !important;
    transform: none;
  }
}

textarea.form-control {
  resize: none;
  height: 110px;

}

.text-underline {
  text-decoration: underline;
}

.container-md {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
}

.container-xs {
  margin: 0 auto;
  width: 100%;
  max-width: 455px;
}

.container-fluid {
  &.no-gutters {
    padding: 0;
  }
}

div.table {
  display: table;
  border-spacing: 10px 0;
  &.table-events {
    table-layout: fixed;
    border-spacing: 10px 0;
    width: auto;
    .td {
      max-width: 215px;
    }
  }
  .td {
    display: table-cell;
  }
  .tr {
    display: table-row;
  }
}

.section-title {
  font-size: 16px;
  font-weight: bold;
  margin: 30px 0 20px;
  color: #3E3E3E;
}

.section-subtitle {
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #3E3E3E;
}

.btn {
  border-radius: 0;
  &.btn-yellow {
    @include button-variant(#000, #FECC0C, #FECC0C)
  }
  &.btn-white {
    @include button-variant(#000, #fff, #fff)
  }
  &.btn-black {
    @include button-variant(#fff, #000, #000)

  }
  &.btn-circle {
    border-radius: 100px;
  }
  &.btn-sm {
    &.btn-circle {
      border: none;
      line-height: 25px;
      height: 25px;
      width: 25px;
      padding: 0 0 0 1px;
      font-size: 16px;
    }
  }
  &.btn-lg {

    &.btn-circle {
      line-height: 61px;
      height: 61px;
      width: 61px;
      padding: 0;
    }
  }
  &.btn-parallel {
    position: relative;
    & > * {
      position: relative;
    }
    @include button-variant(#000, transparent, transparent);
    &:before {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      -webkit-transform: skew(15deg);
      -moz-transform: skew(15deg);
      -o-transform: skew(15deg);
      transform: skew(15deg);
    }
    &.btn-white:before {
      @include button-variant(#000, #fff, #fff)
    }
  }
}

.parallel-block {
  position: relative;
  & * {
    position: relative;
  }
  &:before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transform: skew(12deg);
    -moz-transform: skew(12deg);
    -o-transform: skew(12deg);
    transform: skew(12deg);
  }
  &.white-block {
    color: #000;
    &:before {
      background-color: #fff;
    }
  }
  &.black-block {
    &:before {
      background-color: #000;
    }
  }

}

.navbar-right {
  margin-right: 0 !important;
}

.img-container {
  position: relative;
  .img-absolute {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }
}

.d-inline-block {
  display: inline-block !important;
}

.container-absolute {
  position: absolute !important;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 0;
}

.container-search {
  background-color: #141313;
  height: 34px;
  .form-control, .btn {
    background: none;
    color: #fff;
    padding: 0 15px;
    border: none;
  }
  .form-control {
    font: 13px/1 Bebas, BebasNeue, serif;
  }
  .btn {
    text-align: right;
  }
}

.container-checkbox {
  padding-left: 18px !important;
}

.custom-checkbox {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  width: 17px;
  height: 17px;
  margin: 0;
  line-height: 17px;
  border: 1px solid #fff;
  color: #fff;
  input[type="checkbox"] {
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    & + .fa-check {
      display: none;
    }
    &:checked + .fa-check {
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      margin: 0;
      padding: 0;
      font-size: 10px;
      line-height: 15px;
      right: 0;
      text-align: center;
    }
  }
  & + span {
    padding-left: 5px;
    font-size: 11px;
    font-weight: bold;
    vertical-align: middle;
    color: #fff;
  }
}

.container-title {
  margin: 50px 0 30px;
  text-align: center;
  font-size: 26px;
  font-weight: 700;
}

.container-white {
  background-color: #fff;
}

.container-like-share {
  border-top: 2px solid #000;
  padding: 20px 0;
  [class*="col"] {
    line-height: 43px;
    vertical-align: middle;
    @media screen and (max-width: 767px) {
      text-align: center !important;
      margin-bottom: 25px;
      .text-nowrap {
        display: block;
        margin: 0;
        padding: 0;
      }

    }
  }
  span.text-nowrap {
    margin-right: 15px;
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    vertical-align: middle;
  }
  .btn-like {
    width: 43px;
    height: 43px;
    line-height: 43px;
    padding: 0;
    vertical-align: middle;
    font-size: 22px;
  }
  .btn-share {
    width: 32px;
    height: 32px;
    line-height: 32px;
    padding: 0;
    vertical-align: middle;
    font-size: 15px;

  }
}

@media screen and (max-width: 767px) {
  .text-xs-center {
    text-align: center;
  }
}

.custom-upload {
  display: block;
  white-space: nowrap;
  font-weight: 400;
  position: relative;
  input[type='file'] {
    position: absolute;
    z-index: 9999;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    top: 0;
  }
  .btn {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 1px;
    height: 40px;
    line-height: 40px;
    padding: 0 25px;

  }
  .placeholder {
    line-height: 40px;
    vertical-align: middle;
    padding-left: 7px;
    @extend .helvetica-font;
    color: #707E8B;
  }
  .file-name {
    @extend .helvetica-font;
    line-height: 40px;
    vertical-align: middle;
    padding-left: 7px;
    color: #000;

  }
}

.btn-collapse {
  &[data-collapse="out"] {
    .fa-plus {
      display: inline-block;
    }
    .fa-minus {
      display: none;
    }
  }
  &[data-collapse="in"] {
    .fa-plus {
      display: none;
    }
    .fa-minus {
      display: inline-block;
    }
  }
}

.rating-select {
  unicode-bidi: bidi-override;
  direction: rtl;
  display: block;
  font-size: 0;
  text-align: left;

  & input {
    display: none;
  }
  & > label {
    padding: 0 2px;
  }
  & > label:before {
    content: "\e016";
    color: #e2e6ec;
  }
  & > label:hover:before,
  & > label:hover ~ label:before,
  & > input:checked ~ label:before {
    content: "\e016";
    color: #FFB300;
  }
  & > label {
    font: normal normal normal 26px/1 pg-icons;
    display: inline-table;
    position: relative;
    font-size: 28px;
  }
}

.alert {
  &.alert-danger {
    border-radius: 0;
    border-color: $red;
    background-color: $red;
    color: #fff;
    @extend .helvetica-font;
    font-size: 12px;
    line-height: 16px;
    padding: 11px 13px;
  }
}

.form-group.has-error {
  .form-control {
    border-color: $red !important;
    box-shadow: none;
  }
}

.container-main {
  position: relative;
  overflow: hidden;
  .btn-add-new {
    position: absolute;
    top: 200px;
    right: 0;
  }
}

.back-container {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  display: none;
  background-color: transparentize(#000, 0.35);
}

.fixed-body {
  overflow: hidden !important;
  padding-right: 17px;
}

.popup-container {
  position: fixed;
  left: 50%;
  top: 50%;
  min-height: 200px;
  min-width: 280px;
  background-color: #fff;
  transform: translate(-50%, -50%);
  &[data-visible="true"] {
    display: block;
  }
  &[data-visible="false"] {
    display: none;
  }
  .btn-close {
    position: absolute;
    top: -32px;
    right: 0;
    font-size: 14px;
    color: #fff;
    padding: 0;
    @include button-variant(#fff, transparent, transparent);
    display: table;
    .icon-close{
      font-size: 10px;
      display: table-cell;
      vertical-align: middle;
    }
    span{
      padding-left: 7px;
      font-size: 14px;
      display: table-cell;
      vertical-align: middle;
    }
  }
}

.btn-close {
  position: absolute;
  top: -32px;
  right: 0;
  font-size: 14px;
  color: #fff;
  padding: 0;
  @include button-variant(#fff, transparent, transparent);
  display: table;
  .icon-close{
    font-size: 10px;
    display: table-cell;
    vertical-align: middle;
  }
  span{
    padding-left: 7px;
    font-size: 14px;
    display: table-cell;
    vertical-align: middle;
  }
}
.popup-flyer {
  width: 95%;
  max-width: 410px;
  .flyers {
    .flyer {
      padding: 0;
      border: none;
    }
    .caption {
      padding: 20px 80px 20px 20px;
      @extend .helvetica-font;
      font-size: 12px;
      line-height: 14px;
      color: #000000;
    }
  }
  .arrow {
    position: absolute;
    bottom: 20px;
    right: 20px;
    padding: 0;
    font-size: 16px;
    line-height: 1;
    &.btn-prev {
      right: 70px;
    }
    @include button-variant(#000, transparent, transparent);
  }
}