.dropdown {
  position: static !important;
  &.open {
    & > a {
      background-color: transparent !important;
      color: #fff !important;
      position: relative;
      @media screen and (min-width: map-get($grid-breakpoints, sm)) {

        &:after {
          content: '';
          position: absolute;
          bottom: 10px;
          background-color: #FECC0C;
          height: 2px;
          width: 36px;
          left: 0;
          right: 0;
          margin: 0 auto;
        }
      }
    }
  }
}

.header-navbar {
  .dropdown-menu {
    left: 100px;
    padding: 0;
    border-radius: 0;
    border: none;
    top: 65px;
    min-height: 160px;
  }
}

.dropdown[data-dropdown="calendar"] {
  .dropdown-calendar {
    height: 100%;
    padding: 15px 0;
    background-color: #000;
    .nav-tabs {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        right: 0;
        top: 36px;
        width: 2px;
        height: 156.1px;
        border: 1px solid rgba(255, 255, 255, 0.2);
      }
    }
    .table {
      margin: 0 -15px;
      & > thead, & > tbody {
        & > tr {
          & > td, & > th {
            border: none;
          }
        }
      }
    }
  }
  .navbar-collapse {
    position: relative;
  }
  .tabs-krajee.tabs-left {
    display: block;
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      display: table;
    }
    & > .nav-tabs {
      width: auto;
      float: none;
      border: none;
      & > li > a {
        color: transparentize(#fff, 0.3);
        font-weight: 700;
        font-size: 18px;
        height: 36px;
        white-space: nowrap;
        line-height: 36px;
        border: none !important;
        background: none;
        padding: 0 35px;
        &:hover, &:active, &:focus {
          color: transparentize(#fff, 0.1);
          border: none;
          background: none;
        }
      }
      & > .active > a {

        color: #fff;
        background-color: transparent;
        border: none;
      }
    }
    & > .tab-content {
      float: none;
      display: block;
      @media screen and (min-width: map-get($grid-breakpoints, sm)) {
        display: table-cell;
      }
      border: none;
      margin: 0;
    }
    [id*="calendar-month"] {
      padding: 0 30px;
      table.table {
        text-align: center;
        color: #797979;
        border-collapse: separate;
        border-spacing: 15px 0;
      }
      thead th {
        font-size: 12px;
      }
      tbody td {
        font-size: 14px;
        line-height: 32px;
        vertical-align: middle;
        padding: 0;
        width: 32px;
        &.active {
          background-color: #FECC0C;
          color: #000;
          font-weight: 700;
        }
        &.has-event {
          position: relative;
          span, i {
            position: absolute;
            left: -7px;
            top: 9px;
            color: #FECC0C;
          }
        }
      }
      .calendar-nav {
        color: #fff;
        font-size: 18px;
        font-weight: bold;
      }
      .fa[class*='fa-angle'] {
        color: #fff;
        font-size: 18px;
      }
      .show-all {
        font-size: 10px;
        font-weight: bold;
        vertical-align: middle;
        color: #FECC0C;
        text-align: right;
      }
    }
  }
  .dropdown-hot-events {
    background-color: #fff;
    padding: 15px 10px !important;
    .header-row {
      margin: 10px 0 5px;
      .title {
        line-height: 28px;
        font-size: 18px;
        vertical-align: middle;
        font-weight: bold;
      }
      .show-all {
        font-size: 10px;
        font-weight: bold;
        vertical-align: middle;
        color: #000;
        text-align: right;
      }
    }
    .events {
      .thumbnail {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom: 0;
        max-width: 175px;
        border: 1px solid #ccc;
        .title {
          margin: 0 5px;
        }
      }
      & > div + div {
        margin-left: 10px;
      }
    }
  }

  @media screen and (max-width: 767px) {
    .tabs-krajee.tabs-left {
      & > .nav-tabs {
        float: none;
        overflow: hidden;
        margin: 0;
        display: block;
        padding: 0;
        width: 100%;
        & > li {
          float: left;
          border-top: none !important;
          & > a {
            padding: 0 15px 0 0;
          }
        }
      }
      & > .tab-content {
        clear: both;
        padding: 0;
        margin: 0;
        width: 100%;
      }
      [id*="calendar-month"] {
        margin-top: 15px;
        padding: 0;
      }

    }
  }
}

.dropdown[data-dropdown="photos"] {
  .dropdown-list {
    max-width: 270px;
    height: 100%;
    padding: 15px 25px 15px 35px;
    background-color: #000;
    .input-group {
      border-bottom: 2px solid #4C4C4C;
      margin-bottom: 20px;
      .form-control, .btn {
        padding: 10px 0;
        background-color: #000;
        border-color: #000;
        color: #fff;
        font-size: 13px;
        i {
          font-size: 15px;
        }
      }
    }
    ul {
      li {
        a {
          font-size: 18px;
          line-height: 36px;
          font-weight: bold;
          color: #808080;
        }
        &.active {
          a {
            color: #fff;
          }
        }
      }
    }
  }
  .dropdown-galleries {
    border-spacing: 0;
    margin: 0;
    .td {
      max-width: 180px;
      max-height: 125px;
      width: 180px;
      height: 125px;
      position: relative;
      overflow: hidden;
      .img-container {
        height: 125px;
      }
      .info {
        position: absolute;
        bottom: 0;
        padding-bottom: 15px;
        left: 15px;
        right: 15px;
        z-index: 1;
        color: #fff;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
        .title {
          font-size: 15px;
          line-height: 18px;
          font-weight: 700;
        }
        .photos-quantities {
          font-size: 10px;
          line-height: 18px;
          font-weight: 700;
        }
      }
    }
  }
}

.dropdown[data-dropdown="search"] {
  position: relative !important;
  .dropdown-menu {
    padding: 15px 25px 15px 35px;
    width: 450px;
    left: auto;
    top: 50px;
    box-shadow: 0 12px 30px 0 rgba(0, 0, 0, 0.2);
    background-color: #000;
    .input-group {
      border-bottom: 1px solid #1e1e1e;
      padding-bottom: 12px;
      margin-bottom: 20px;
      vertical-align: middle;
      .form-control, .btn, .input-group-addon {
        line-height: 24px;
        vertical-align: middle;
        background-color: #000;
        padding: 0;
        border-color: #000;
        color: #fff;
        font-size: 20px;
        i {
          font-size: 15px;
        }
      }
    }
    .results {
      & > .title {
        font-size: 12px;
        padding-top: 7px;
        margin: 15px 0 12px;
        font-weight: 700;
        color: #8b8b8b;
      }
      ul {
        li {
          .title {
            padding-left: 15px;
            font-size: 14px;
            font-weight: bold;
            color: #FFFFFF;
          }
          & + li {
            margin-top: 10px;
          }
        }
        & + .title {
          border-top: 1px solid transparentize(#4c4c4c, 0.61);
        }
        &.photos {
          .row {
            margin-left: -5px;
            margin-right: -5px;
            .col-2 {
              padding: 5px;
            }
          }
        }
      }
    }
  }
}

.dropdown[data-dropdown="event-filter"] {
  .dropdown-menu {
    background-color: #000;
    border-radius: 0;
    border: none;
    max-width: 480px;
    padding: 15px;
    min-width: 0;
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      min-width: 470px;
    }
  }
  .events-list {
    margin-top: 10px;
    .row {
      .col-auto {
        height: 24px;
        line-height: 24px;
        width: 18.5%;
        margin-right: 1%;
        margin-bottom: 5px;
        min-width: 96px;
        font-size: 11px;
        font-weight: 700;
        vertical-align: middle;
        padding: 0 10px;
        background-color: #404040;
        color: #fff;
        .name {
          float: left;
        }
        .quantity {
          float: right;
        }
        &.active {
          width: 20%;
          min-width: 110px;
          background-color: #fff;
          color: #000;
        }
      }
      & + .row {
        margin-top: 7px;
      }
    }
  }
}

.dropdown[data-dropdown="location"] {
  position: relative !important;
  .dropdown-menu {
    padding: 15px 15px 0;
    right: auto;
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .map {
    margin-top: 15px;
    height: 320px;
  }
}

.dropdown[data-dropdown="account"] {
  position: relative !important;
  & > a {
    font-size: 13px;
    font-weight: bold;
    background-color: transparent !important;
    letter-spacing: 1px;
    img {
      margin-right: 10px;
      max-height: 50px;

    }
  }
  &.open {
    & > a:after {
      display: none;
    }
  }
  .dropdown-menu {
    padding: 25px 0 15px;
    left: 0;
    right: 0;
    width: 100%;
    top: 99%;
    & > li {
      & > a {
        position: relative;
        padding: 3px 22px;
        font-size: 13px;
        color: #141313;
        vertical-align: middle;
        line-height: 22px;
        font-weight: bold;
        [class*="icon"] {
          width: 40px;
          text-align: left;
          font-size: 16px;
        }
        .badge {
          position: absolute;
          right: 15px;
          top: 2px;
          width: 22px;
          height: 22px;
          vertical-align: middle;
          line-height: 22px;
          padding: 0;
          text-align: center;
          background-color: #F92F2F;
        }
      }
    }
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 20px solid #fff;
      position: absolute;
      right: 20px;
      top: -10px;
    }
  }
}

.dropdown[data-dropdown="contact"] {
  .dropdown-menu {
    padding: 30px 10px;
    background-color: #000;
    .table {
      vertical-align: top;
    }
    .td {
      padding: 0 30px;
      position: relative;
      width: 290px;
      vertical-align: top;
    }
    .form-group {
      width: 230px;
    }
    .form-control {
      background-color: transparent;
      color: #fff;
      border: 1px solid #fff;
      padding: 11px 15px;
      line-height: 1;
      font-size: 13px;
    }
    textarea {
      resize: none;
      height: 75px;
    }
    .btn-yellow {
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 1px;
      color: #000000;
      padding: 10px 12px;
    }
    form {
      position: relative;
      &:before, &:after {
        content: '';
        width: 1px;
        height: 156px;
        background-color: rgba(255, 255, 255, 0.2);
        position: absolute;
        top: 0;
      }
      &:before {
        left: -30px;
      }
      &:after {
        right: -30px;
      }
    }
    .tr {
      & > .td:first-child,
      & > .td:last-child {
        max-width: 265px;
      }
    }
    .td.title {
      font-size: 15px;
      font-weight: bold;
      letter-spacing: 1px;
      color: #FFFFFF;
      padding-bottom: 30px;
    }
    p {
      @extend .helvetica-font;
      margin-bottom: 15px;
      font-size: 12px;
      .text-muted {
        color: #4C4C4C;
        display: block;
        margin-bottom: 3px;
      }
      a {
        display: block;
        color: #fff;
      }
    }
  }
}

.dropdown[data-dropdown="language"] {
  position: relative !important;
  & > a {
    font-size: 13px;
    font-weight: bold;
    background-color: transparent !important;
    letter-spacing: 1px;
    .flag-icon {
      width: 32px;
      height: 32px;
      border-radius: 32px;
      margin-right: 10px;
      vertical-align: middle;

    }
  }
  &.open {
    & > a:after {
      display: none;
    }
  }
  .dropdown-menu {
    padding: 15px 0;
    left: 0;
    right: 0;
    min-height: 0;
    width: 100%;
    top: 99%;
    & > li {
      & > a {
        position: relative;
        padding: 5px 20px;
        font-size: 13px;
        color: #141313;
        vertical-align: middle;
        line-height: 22px;
        font-weight: bold;
        span {
          vertical-align: middle;
        }
        .flag-icon {
          width: 18px;
          height: 18px;
          border-radius: 18px;
          margin-right: 10px;
        }
      }
    }
    &:before {
      content: '';
      width: 0;
      height: 0;
      border-left: 16px solid transparent;
      border-right: 16px solid transparent;
      border-bottom: 20px solid #fff;
      position: absolute;
      left: 15px;
      top: -7px;
    }
  }
}

.dropdown[data-dropdown="artists"] {
  position: relative !important;
  .dropdown-menu {
    padding: 15px;
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      left: 50%;
      transform: translateX(-50%);
    }
    right: auto;

    max-width: 525px;
  }
  .container-alphabet {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #fff;
    white-space: nowrap;
    margin: 15px 0;
    a {
      color: #fff;
    }
    span {
      padding: 0 3px;
    }
  }
  .artists-list {

    .col-auto {
      height: 24px;
      line-height: 24px;
      padding: 0 15px;
      margin-right: 1%;
      margin-bottom: 5px;
      font-size: 11px;
      font-weight: 700;
      vertical-align: middle;
      background-color: #404040;
      color: #fff;
      &.active {
        background-color: #fff;
        color: #000;
      }
    }
  }
}

.dropdown[data-dropdown] {
  .show-more {
    margin-top: 10px;
    .btn {
      @include button-variant(#fff, transparent, transparent);
      font-size: 12px;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
}

.dropdown-vote {
  .dropdown-menu {
    top: 0;
    left: 15px;
    border-radius: 0;
    padding: 20px;
    border: 0;
  }
  .control-label {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #3E3E3E;
  }
  textarea.form-control {
    font-size: 12px;
    width: 260px;
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {

      width: 320px;
    }
    height: 75px;
  }
  .btn-black {
    padding-left: 55px;
    padding-right: 55px;
  }
  form .vote-title {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #000000;
    margin-bottom: 15px;
  }
}

.dropdown[data-dropdown="community"] {
  div.table {
    border-spacing: 0;
    margin-bottom: 0;
    background-color: #000;
  .table{
    background-color: #000;
  }
  }
  .dropdown-menu {
    background-color: #000;
    color: #fff;
  }
  .td {
    vertical-align: top;
    padding: 0;
  }
  .tabs-krajee.tabs-left {
    border-spacing: 0;
    & > .nav-tabs {
      padding: 25px 0 0 80px;
      width: auto;
      float: none;
      border-right: 1px solid rgba(255, 255, 255, 0.2);
      & > li > a {
        color: transparentize(#fff, 0.3);
        font-weight: 700;
        font-size: 18px;
        height: 36px;
        white-space: nowrap;
        line-height: 36px;
        border: none !important;
        background: none;
        padding: 0;
        min-width: 140px;
        &:hover, &:active, &:focus {
          color: transparentize(#fff, 0.1);
          border: none;
          background: none;
        }
      }
      & > .active > a {
        color: #fff;
        background-color: transparent;
        border: none;
      }
    }
    & > .tab-content {
      float: none;
      border: none;
      margin: 0;
      a {
        color: $yellow;
      }
    }
  }

  .tab-pane > .title, .forum-activity > .title {
    margin-top: 25px;
    margin-left: 35px;
    font-size: 13px;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 1px;
    color: #FFFFFF;
  }
  .container-trend {
    width: 200px;
    margin: 0 35px;
    padding: 15px 0;
    border-bottom: 1px solid rgba(76, 76, 76, 0.44);
    .user {
      font-size: 11px;
      margin-bottom: 5px;
      font-weight: bold;
      line-height: 13px;
      letter-spacing: 1px;
      color: #FFFFFF;
      .user-action {
        padding-left: 5px;
        opacity: 0.6;

      }
    }
    .title {
      @extend .helvetica-font;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
      color: #fff;
    }
    .desc {

      @extend .helvetica-font;
      margin-top: 8px;
      font-size: 12px;
      color: #FFFFFF;
    }

    .info.table {
      @extend .helvetica-font;
      margin-bottom: 0;
      margin-top: 12px;
      background-color: #000;
      border-spacing: 0;
      font-size: 10px;
    }

  }
  .forum-activity{
    position: relative;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1px;
      max-height: 300px;
      height: 100%;
      background-color: #4C4C4C;
    }
  }
  .show-all {
    .td{
      padding: 25px 35px 0 0;
      a{
        color: $yellow;
      }
    }
  }
  .gallery{
    border-spacing: 0;
    width: 200px;
    &>div{
      float: left;
      position: relative;
      width: 100px;
      height: 100px;
      .img-container{
        position: absolute !important;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        width: 100%;
        height: 100%;
        &:before{
          content: '';
          position: absolute !important;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          width: 100%;
          height: 100%;
          background-color: #3D283B;
          opacity: 0.35;
        }
      }
      div.table.info{
        position: absolute;
        left: 0;
        right: 0;
        border-spacing: 10px 0;
        bottom: 5px;
        background-color: transparent !important;
        z-index: 1000;
      }
    }
  }
}
