.filter-navbar.navbar {
  @extend .navbar-inverse;
  border-radius: 0;
  min-height: 53px;
  margin: 0;
  border: none;
  background-color: #000;
  .container {
    max-width: 970px;
  }
  .navbar-brand {
    line-height: 53px;
    vertical-align: middle;
    padding: 0 30px;
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      line-height: 53px;
    }
    color: #fff;
    font-size: 22px;
  }
  .dropdown.open > a:after {
    bottom: 0;
    width: 64px;
  }
  .dropdown-menu {
    background-color: #000;
    border-radius: 0;
    border: none;
    left: 0;
    right: auto;
  }
  .navbar-nav {
    margin: 0;
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      margin-left: -15px;
    }
  }
  .container-search {
    margin: 15px 0;
    background-color: transparent;
    border: 1px solid #484848;
    height: 40px;
    .form-control{
      height: 40px;
      color: #979797;
      font-size: 11px;
    }
  }
  .navbar-switcher.nav {
    margin-top: 15px;
    margin-bottom: 25px;
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      margin-top: 0;
      margin-bottom: 0;
    }
    & > li {
      > a {
        width: 70%;
        margin: 0 auto;
        @media screen and (min-width: map-get($grid-breakpoints, sm)) {
          width: 100%;
        }
      }
      &.active {
        > a {
          background-color: #fff;
          color: #000;
          font-weight: 700;
          @media screen and (min-width: map-get($grid-breakpoints, sm)) {
            background-color: transparent;
            color: #fff;
            font-weight: 700;
          }
        }
      }
      & + li {
        border-top: none;
      }
    }

  }
  .dropdown {
    & > a {
      padding-left: 0;
      padding-right: 0;
      text-align: left;
      .fa {
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
      @media screen and (min-width: map-get($grid-breakpoints, sm)) {
        text-align: center;
        .fa {
          position: static;
          transform: translateY(0);
        }
      }
    }
  }
  .nav {
    position: relative !important;
    padding: 0 30px;
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      padding: 0;
    }
    & > li {
      color: #fff;
      & > span {
        line-height: 53px;
        vertical-align: middle;
      }
      & > a {
        background-color: transparent;
        color: #fff;
        line-height: 53px;
        font-size: 13px;
        padding: 0;
        @media screen and (min-width: map-get($grid-breakpoints, sm)) {
          line-height: 53px;
          padding: 0 20px;
        }
        vertical-align: middle;
        [class*="icon-"] {
          vertical-align: middle;
        }
        span {
          vertical-align: middle;
          display: inline-block;
          padding: 0 7px;
        }
        .fa {
          vertical-align: middle;
        }
        &.text-muted {
          color: #c6c6c6;
        }
      }
      & > .d-inline-block {
        padding-left: 5px;
        padding-right: 5px;
      }
      @media screen and (max-width: 767px) {
        & + li {
          border-top: 1px solid #4C4C4C;
        }
      }
      &.powered-by {
        padding-right: 15px;
        & > span, & > a {
          display: inline-block;
          line-height: 53px;
        }
        span {
          opacity: 0.45;
          font-size: 12px;
          color: #FFFFFF;
        }
      }
      .container-search{
        margin: 15px 0;
      }
    }
  }

  .map{
    width: 100%;
    min-width: 280px;

    @media screen and (min-width: map-get($grid-breakpoints, sm)) { min-width: 480px;
    }
  }
}