footer {
  overflow: hidden;
  h3 {
    margin: 65px 0 55px;
    color: #fff;
    font-size: 26px;
    font-weight: 700;
  }
  .container-partners {
    .row + .row {
      margin-top: 50px;
    }
    @media (max-width: 767px) {
      .row {
        & > div + div {
          margin-top: 50px;
        }
      }
    }
  }
  margin-top: 60px;
  background: url('../images/Footer bg.jpg') no-repeat center;
  background-size: cover;
  .container-partners {
    text-align: center;
    vertical-align: middle;

    img {
      width: 160px;
      @media (min-width: map-get($grid-breakpoints, 'sm')) {
        width: 65%;
      }
    }
  }
  .navbar.navbar-default {
    margin-top: 50px;
    background: none;
    border-radius: 0;
    border: none;
    height: auto;
    .navbar-nav > li > a {
      padding: 0 15px;
      line-height: 36px;
      text-align: center;
      vertical-align: middle;
      color: #fff;
      font-size: 13px;
      font-weight: 700;
    }
    @media (min-width: map-get($grid-breakpoints, 'sm')) {
      height: 95px;

      margin-top: 150px;
      .navbar-nav > li > a {
        padding: 0 15px;
        line-height: 60px;
        text-align: left;
        font-size: 16px;
      }
    }
    .container {
      padding: 0;
      border-top: 2px solid rgba(255, 255, 255, 0.1);
      .navbar-right {
        padding-right: 15px;
      }
    }
  }
}

.gm-style-iw {
  top: 1px !important;
  left: 1px !important;
  max-width: 300px;
  right: 1px;
  overflow: hidden;
  width: 99% !important;
  & > div {
    overflow: hidden !important;
    & > div {
      overflow: hidden !important;
    }
  }
  .thumbnail {
    width: 175px;
    height: 240px;
    position: static;
    .thumbnail-inner{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      img{
        width: 100%;
      }
      .caption{
        &:before{
          display: none;
        }
        background-color: #fff;
        padding-top: 15px;
        padding-bottom: 0;
        position: absolute;
        top: 96px;
        left: 0;
        right: 0;
        bottom: 0;
      }
    }
  }
  &~img, &~div{
    display: none !important;
  }
}

[data-page="account"]{
  footer{
    background: none;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    .navbar.navbar-default{
      margin-top: 0;
      margin-bottom: 0;
      height: auto;
      .container{
        padding: 15px 0;
      }
    }
  }
}