.header-message {
  position: absolute;
  right: 0;
  top: 25%;
  background-color: #fff;
  width: 320px;
  padding: 15px 15px 20px;
  div {
    line-height: 1;
  }
  .btn-close {
    padding: 0;
    position: static;
    font-size: 10px;
    line-height: 1;
    @include button-variant(#D8D8D8, transparent, transparent);
  }
  .helvetica-font {
    padding: 5px 25px 10px;
    font-size: 12px;
  }
  a {
    margin: 0 25px 10px;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 1px;
    color: #000000;
    text-decoration: none;
    position: relative;
    &:after{
      content: '';
      position: absolute;
      bottom: -12px;
      left: 0;
      right: 0;
      height: 1px;
      background-color: #000;
    }
  }
}