#mobile-menu {
  position: fixed;
  left: 0;
  z-index: 99999;
  overflow: auto;
  right: 0;
  height: 100%;
  top: 0;
  padding: 20px 15px;
  background-color: rgba(0, 0, 0, 0.9);
  .btn-close {
    @include button-variant(#000, #fff, #fff);
    height: 40px;
    line-height: 38px;
    width: 40px;
    padding: 0;
    font-size: 50px;
  }
  .container {
    max-width: 360px;
  }
  .container-search {
    margin: 0 0 25px;
    border: 1px solid #979797;
    font-size: 12px;
  }
  .container {
    margin: 25px auto;
    max-width: 360px;
    overflow: auto;
    max-height: 90%;
  }

  .container-account {
    .btn {
      height: 40px;
      line-height: 38px;
      @include button-variant(#fff, #262626, #262626);
      vertical-align: middle;
      padding: 0;
    }
    .dropdown[data-dropdown="account"] {
      overflow: hidden;
      position: relative;
      padding-bottom: 20px;
      border-bottom: 1px solid #484848;;
      & > a {
        color: #fff;
        font-size: 16px;
        position: static;
        img {
          margin-right: 15px;
        }
        .fa-angle-down {
          position: absolute;
          right: 0;
          top: 15px;
          font-size: 16px;
        }
      }

      &.open {
        & > .dropdown-menu {
          background: transparent;
          color: #fff;
          &:before {
            display: none;
          }
          position: static;
          & > li > a {
            padding-top: 10px;
            color: #fff !important;
            background: transparent !important;
          }
          & > .divider {
            display: none;
          }
        }

      }
    }
  }
  .menu-items {
    margin: 30px 0;
    a {
      display: block;
      width: 100%;
      text-align: center;
      vertical-align: middle;
      height: 45px;
      font-size: 20px;
      font-weight: bold;
      line-height: 45px;
      letter-spacing: 1px;
      color: #FFFFFF;
    }
  }
  .container-social {
    .btn {
      padding: 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      border: 0;
      font-size: 22px;
      margin: 0 8px;
      i {
        margin-left: 2px;
      }
    }
  }
}