.navbar.header-navbar {
  background-color: transparent;
  border: none;
  height: 95px;
  margin: 0;
  font-family: BebasNeue, Bebas, serif;
  letter-spacing: 1px;

  .navbar-toggle {
    @include button-variant(#000, #fff, #fff);
    border-radius: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    padding: 0;
    vertical-align: middle;
    font-size: 20px;
    margin-top: 20px;

  }
  .navbar-nav {
    margin-top: 15px;

    & > li > a {
      padding: 0 15px;
      line-height: 60px;
      vertical-align: middle;
      color: #fff;
      font-size: 16px;
      font-weight: 700;

      background-color: transparent !important;
      &:hover {
        background-color: transparent;
        color: #f6f6f6;
      }
    }
    & > li.link-social {
      > a {
        padding: 0 3px 0 15px;
        vertical-align: middle;
        .btn.btn-yellow{
          height: 25px;
          line-height: 25px;
          border: none;
          width: 25px;
          display: inline-block;
          font-size: 16px;
          padding-left: 1px;
        }
      }
      & + li.link-social {
        > a {
          padding: 0 3px;
        }
      }
    }
    & > li > .horizontal-divider {
      line-height: 60px;
      &:before {
        content: '|';
        font-size: 20px;
        vertical-align: top;
        color: #fff;
      }
    }
  }
  .navbar-brand {
    color: #fff;
    font-size: 50px;
    @media (min-width: 768px) {
      font-size: 78px;
    }
  }
}