.policy-tabs.tabs-krajee.tabs-left {
  margin: 50px 0 70px;
  & > .nav-tabs {
    width: 150px;
    & > li {
      width: 100%;
      &>a{
        margin: 0 !important;
        border: none !important;
        border-width: 0 !important;
        border-radius: 0;
        display: inline-block;
        min-width: 120px;
        padding: 8px;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        color: #000000;
        &:hover{
          border: none;
        }
      }
      &.active{
        &>a{
          background-color: #000;
          color: #fff;
        }
      }
    }
  }
  .tab-content{
    margin-left: 190px;
    border-left: 0;
    .tab-pane{
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}
& > .container {
  max-width: 970px;
}

.panel-group{
  margin: 50px 0;
  .panel{
    border-radius: 0;
    border: none;
    .panel-heading{
      background-color: #fff;
    }
    .panel-title{
      display: block;
      background-color: #fff;
      a{
        position: relative;
        font-weight: 700;
        display: block;
        letter-spacing: 1px;
        &:before{
          content: "\f068";
          @extend .fa;
          font-size: 12px;
          position: absolute;
          right: 10px;
          top:50%;
          transform: translateY(-50%);
        }
        &.collapsed{
          &:before {
            content: "\f067";
          }
        }
      }
    }
  }
}