.container-reviews {
  background-color: #fff;
  .reviews-header {
    border-bottom: 2px solid #EBEEF0;
    padding: 10px 0;
    .review-qty {
      font-size: 18px;
      font-weight: bold;
    }
    .actions {
      font-size: 12px;
      font-weight: bold;
      a {
        color: #000;
      }
      @media screen and (min-width: map-get($grid-breakpoints, sm)) {
        text-align: right;
      }
    }
  }
  .reviews-body {
    @extend .helvetica-font;
    padding: 10px 0;
  }
  .sort {
    margin-bottom: 25px;
    position: relative !important;
    button.btn-sort {
      @include button-variant(#000, transparent, transparent);
      font-size: 13px;
      font-weight: 500;
      color: #A7B4BA;
    }
  }
  .form.table {
    vertical-align: top;
    margin-bottom: 25px;
    position: relative;
    border-spacing: 0;

    .avatar {
      width: 48px;
    }
    .td {
      vertical-align: top;
    }
    .td > label {
      display: block;
      width: 100%;
    }
    textarea.form-control {
      margin-left: 10px;
      resize: none;
      font-weight: 400;
      height: 48px;
      box-shadow: 0 0 14px 0 rgba(0, 0, 0, 0.05);
      border-radius: 2px;
    }
    .dropdown-smiles {
      position: absolute !important;
      top: 12px;
      right: 5px;
      & > .btn {
        line-height: 1px;
        padding: 0;
        @include button-variant(#000, transparent, transparent);
        font-size: 21px;
      }
    }
  }
  .media {
    .media {
      margin-top: 30px;
      .media-object {
        width: 36px;
      }
    }

    .fa-circle {
      font-size: 3px;
      vertical-align: middle;
    }
    .media-heading {
      vertical-align: middle;
      line-height: 18px;
      font-size: 13px;
      color: #000;
      font-weight: bold;
      .review-date {
        font-size: 13px;
        font-weight: 400;
        color: #A7B4BA;
        .fa-circle {
          margin: 0 10px;
        }
      }
    }
  }
  a.fa-share{
    font-size: 13px;
    font-weight: 400;
    color: #A7B4BA;
    padding: 0 10px;
  }
  .media-body{
    p{
      font-size: 15px;
      a.reply{
        font-size: 15px;
        font-weight: 600;
        color: #000;
      }
    }
  }
  .media-footer {
    font-size: 13px;
    line-height: 15px;
    color: rgba(0, 39, 59, 0.35);
    a {
      padding: 0 8px;
      color: inherit;
    }
  }
}