.thumbnail {
  padding: 0;
  border: none;
  border-radius: 0;
  margin: 0;
  position: relative;
  overflow: hidden;
  min-width: 185px;
  .caption {
    position: relative;
    font: 12px/1.2 "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 5px 20px 10px;
    h3 {
      font: bold 22px/1 BebasNeue, Bebas, serif;
      margin: 5px 0 15px;
    }
    &:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: -20px;
      left: -15px;
      right: -15px;
      border-bottom: 20px solid #fff;
      border-right: 320px solid transparent;
      overflow: hidden;
    }
    .title {
      font-size: 14px;
      margin-top: 0;
      font-weight: 700;
    }
  }
  .list-group {
    margin-bottom: 10px;
    .list-group-item {
      padding: 5px 0;
      border: none;
      font-size: 12px;
      i {
        color: #BDC2CD;
        margin-right: 5px;
      }
      span {
        letter-spacing: 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
    }
  }
  .col-xs {
    font-size: 12px;
    i {
      margin-right: 5px;
    }
    span {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    }

  }
  .caption-absolute {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    .schedule {
      position: absolute;
      left: -5px;
      top: -5px;
      text-align: center;
      height: 60px;
      width: 60px;
      padding-top: 7px;
      background-color: #FECC0C;
      line-height: 1.1;
      .date, .month {
        font-size: 10px;
      }
      .day {
        font-size: 20px;
        font-weight: 700;
      }
    }
    .futures {
      position: absolute;
      right: -5px;
      top: -5px;
      text-align: center;
      & > div {
        height: 21px;
        width: 21px;
        background-color: #000;
        line-height: 21px;
        color: #fff;
        i {
          color: #fff;
          font-size: 12px;
        }
        & + div {
          margin-top: 1px;
        }
      }
    }
    .post-type {
      @extend .schedule;
      width: 58px;
      height: 24px;
      padding: 0;
      line-height: 24px;
      text-align: center;
      background-color: #000;
      font-size: 12px;
      color: #fff;
    }
  }
}