@charset "UTF-8";

@font-face {
  font-family: "pg-icons";
  src:url("fonts/pg-icons.eot");
  src:url("fonts/pg-icons.eot?#iefix") format("embedded-opentype"),
    url("fonts/pg-icons.woff") format("woff"),
    url("fonts/pg-icons.ttf") format("truetype"),
    url("fonts/pg-icons.svg#pg-icons") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "pg-icons" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "pg-icons" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-logo:before {
  content: "\e003";
}
.icon-audio:before {
  content: "\e000";
}
.icon-calendar:before {
  content: "\e001";
}
.icon-clock:before {
  content: "\e002";
}
.icon-comment-bubble:before {
  content: "\e004";
}
.icon-heart:before {
  content: "\e005";
}
.icon-live-blog:before {
  content: "\e006";
}
.icon-location:before {
  content: "\e007";
}
.icon-location-icon:before {
  content: "\e008";
}
.icon-play-icon:before {
  content: "\e009";
}
.icon-type-icon:before {
  content: "\e00a";
}
.icon-users:before {
  content: "\e00b";
}
.icon-video:before {
  content: "\e00c";
}
.icon-search:before {
  content: "\e00d";
}
.icon-find-friend:before {
  content: "\e00f";
}
.icon-forum:before {
  content: "\e010";
}
.icon-friends:before {
  content: "\e011";
}
.icon-profile:before {
  content: "\e012";
}
.icon-logout:before {
  content: "\e013";
}
.icon-sent-mail:before {
  content: "\e014";
}
.icon-crown:before {
  content: "\e016";
}
.icon-download:before {
  content: "\e015";
}
.icon-close:before {
  content: "\e00e";
}
.icon-check:before {
  content: "\e017";
}
