.container-media-previews {
  padding: 0 10px;
  .row {
    margin: 0 -10px;
  }
  .img-parent.media-container {
    height: 146px;
    margin: 10px 0;

  }
  .media-data {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px 20px 20px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
  }
  .title {
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;
  }
  .quantity {
    font-size: 9px;
    font-weight: bold;
    line-height: 11px;
    color: #FFFFFF;
  }

  .btn-play {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    @include button-variant(#fff, transparent, #fff);
    box-sizing: border-box;
    width: 35px;
    height: 35px;
    border: 3px solid #FFFFFF;
    line-height: 30px;
    border-radius: 35px;
    text-align: center;
    vertical-align: middle;
    font-size: 13px;
    padding-left: 2px;
  }

}