.container-party-contest {
  .container-title {
    margin: 60px 0 40px;
    text-align: center;
    font-size: 26px;
    font-weight: 700;
  }
  .row {
    overflow: hidden;
    & > * {
      color: #fff;
      padding: 90px 0;
      position: relative;
      text-align: center;
      @media (min-width: 768px) {
        text-align: left;
      }

      .background {
        position: absolute;
        top: 0;
        bottom: 0;
        @media (min-width: 768px) {
          transform: skewX(-8deg);
          min-width: 100%;
        }
        overflow: hidden;
        &:before {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          @media (min-width: 768px) {
            transform: skewX(8deg);
            min-width: 100%;
            left: -30px;
            right: -30px;
            bottom: 0;
          }
        }
      }
      &:first-child {
        .background {
          left: 0;
          right: 0;
          @media (min-width: 768px) {
            left: -25px;
            right: -1px;
          }

        }
      }
      &:last-child {
        .background {
          left: 0;
          right: 0;
          @media (min-width: 768px) {
            left: -1px;
            right: -25px;
          }
        }
      }
      h3, p {
        font-size: 20px;
        text-align: center;
        font-weight: 700;
        @media (min-width: 768px) {
          text-align: left;
          margin: 0 0 0 100px;
        }
        position: relative;
      }
      h2 {
        font-size: 52px;
        line-height: 1;
        font-weight: 700;
        text-align: center;
        @media (min-width: 768px) {
          text-align: left;
          margin: 0 0 0 100px;
        }
        position: relative;
      }
      .btn {
        position: relative;
        margin-top: 35px;
        text-align: center;
        @media (min-width: 768px) {
          text-align: center;
          margin: 35px 0 0 100px;
        }
        font-weight: 700;
        height: 33px;
        width: 120px;
        line-height: 33px;
        vertical-align: middle;
        padding: 0;
        font-size: 12px;
        .fa {
          margin-left: 20px;
          font-size: 14px;
          z-index: 1000;
          position: relative;
        }

        &:after {
          content: '';
          position: absolute;
          left: auto;
          width: 36px;
          right: 0;
          top: 0;
          z-index: 1;
          bottom: 0;
          background-color: #fff;
          box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.1);
          transform: skew(15deg);
        }
      }
    }
  }
}