.container-events {
  background-color: #000;
  .event-navbar {
    min-height: 65px;
    background-color: #000;
  }
  .navbar {
    .navbar-brand {
      line-height: 65px;
    }
    .navbar-nav.nav {
      & > li {
        & > a {
          line-height: 55px !important;
          height: 55px !important;
          padding: 0 20px;
          border-width: 0;
        }
        & + li {
          & > a {
            position: relative;
            @media screen and (min-width: map-get($grid-breakpoints, md)) {
              &:before {
                content: '|';
                left: 0;
                position: absolute;
                top: 3px;
              }
            }
          }
        }
      }
      &.navbar-right {
        margin-right: 15px;
      }
    }
  }
  .container-content {
    padding: 30px 20px;
    position: relative;
    @media (min-width: map-get($grid-breakpoints, sm)) {
      &:before {
        content: '';
        position: absolute;
        left: 20px;
        right: 20px;
        top: 0;
        height: 1px;
        background-color: #4c4c4c;
      }
    }
    @media screen and (max-width: 767px) {
      overflow-x: auto;
      overflow-y: hidden;

    }
  }
}

#map {
  height: 100%;
  @media screen and (max-width: 991px) {
    height: 360px;
  }
}