& > .container {
  max-width: 970px;
}
.container-header {
  font-size: 42px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 75px;
  color: #fff;
}
.container-form {
  .section-title {
    font-size: 18px;
    font-weight: bold;
  }
  input.form-control {
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    border: 1px solid #E7EDF2;
  }
  .input-group {
    input.form-control {
      border-left-color: transparent;
      padding-left: 3px;
    }
  }
  .input-group-addon {
    border-color: #E7EDF2;
    border-radius: 0;
    background-color: #fff;
    color: #ADAFB2;
  }
  .form-group > label, .control-label {
    font-size: 12px;
    display: block;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-weight: 700;
  }
  .bootstrap-select.form-control {
    height: 40px;
    .dropdown-menu {
      border-radius: 0;
    }
  }
  .btn.dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 9px;
    &:hover, &:focus, &, &:active {
      @include button-variant(#999, #fff, #E7EDF2);
      background-color: #fff !important;
    }
  }
  .form-group {
    .row {
      margin: 0 -2px;
    }
    .col, .col-4, .col-6 {
      padding: 0 2px;
    }
  }
  .help-block {
    @extend .helvetica-font;
    display: block;
    max-width: 75%;
    font-size: 10px;
    color: #3E3E3E;
  }
  .container-checkbox {
    padding: 0 !important;
  }
  .control-label.visiblity-hidden {
    visibility: hidden;
    position: static;
    margin-bottom: 20px;
  }
  .custom-checkbox {
    padding-left: 0 !important;
    display: inline-block;
    width: 45%;
    position: relative;
    white-space: nowrap;
    cursor: pointer;
    height: 24px;
    vertical-align: middle;
    border: none;
    margin: 0 0 7px 0;
    line-height: 24px;
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      height: 24px;
      width: 24px;
      border: 2px solid #000;
    }

    .fa-check {
      opacity: 0;
      line-height: 24px;
      width: 24px;
      display: inline-block;
      overflow: hidden;
      position: relative;
    }
    span {
      color: #000;
      font-size: 12px;
      line-height: 1;
      vertical-align: super;
      font-weight: bold;
      padding: 0 10px;
      letter-spacing: 1px;
    }
    input[type="checkbox"], input[type="radio"] {

      position: absolute;
      margin: 0;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
    }
    input[type="checkbox"]:checked + .fa-check, input[type="radio"]:checked + .fa-check {
      opacity: 1;
      position: relative;
      &:before {
        z-index: 1001;
        position: relative;
        font-size: 12px;
        color: #fff;
      }
      &:after {
        content: '';
        left: 0;
        right: 0;
        top: 0;
        bottom: -2px;
        position: absolute;
        background-color: #000;
      }
    }
    &.radio {
      &:before {
        border-radius: 50%;
      }
      .fa-check {
        border-radius: 50%;
        line-height: 24px;
        width: 24px;
        display: inline-block;
        overflow: hidden;
        position: relative;
        text-align: center;
      }
    }
  }
  .form-group {
    .text-right {
      margin-top: 13px;
    }
    a {
      font-weight: bold;
      line-height: 14px;
      letter-spacing: 1px;
      color: #3E3E3E;
    }
  }

  .section-subtitle {
    margin-bottom: 25px;
    a {
      font-size: 12px;
      font-weight: bold;
      line-height: 15px;
      color: #3E3E3E;
    }
  }
  .btn-yellow {
    padding: 0 36px;
    line-height: 40px;
    height: 40px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #000000;
  }
}