.container-events {
  .container-content {
    max-width: 990px;
    padding: 0;
  }
  .navbar {
    min-height: 55px;
    &>.container{
      overflow-y: visible;
      overflow-x: visible;
    }
    .navbar-brand {
      @media screen and (min-width: map-get($grid-breakpoints, sm)) {
        line-height: 55px;
      }
    }
    .nav > li {
      @media screen and (min-width: map-get($grid-breakpoints, sm)) {
        & + li {
          & > a {
            position: relative;
            &:before {
              content: '|';
              left: 0;
              position: absolute;
              top: 3px;
            }
          }
        }
      }
      & > a {
        @media screen and (min-width: map-get($grid-breakpoints, sm)) {
          line-height: 55px;
          height: 55px;
        }
      }
    }
  }
}

.events-trend {
  overflow: hidden;
  .navbar {
    min-height: 55px;
    .nav > li {
      @media screen and (min-width: map-get($grid-breakpoints, sm)) {
        & > a {
          padding: 0 35px;
        }
      }
    }
  }
  .container {
    max-width: 1000px;
    overflow-y: hidden;
    overflow-x: auto;
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      overflow-y: hidden;
      overflow-x: hidden;
    }
  }
  .container-title {
    color: #fff;
    margin: 25px 0;
  }
  .table {
    border-spacing: 25px 0;
  }
  padding-bottom: 25px;
  background-color: #141313;
}

.events-daily {
  max-width: 970px;
  margin-top: 35px;
  .navbar {
    min-height: 55px;
    .navbar-brand {
      padding: 0 20px;
    }
    .nav.navbar-right {
      @media screen and (min-width: map-get($grid-breakpoints, sm)) {
        margin-right: 0;
      }
      & > li {
        @media screen and (min-width: map-get($grid-breakpoints, sm)) {
          & > a {
            padding: 0 10px;
            &.btn-white {
              margin-left: 10px;
            }
          }
          & + li {
            & > a {
              position: relative;
              &:before {
                display: none;
              }
            }
          }
        }
        & > a.btn-white {
          color: #000;
          padding: 0 20px;
          background-color: #fff !important;
          border: none;
          font-size: 13px;
          letter-spacing: 0;
          font-weight: 700;
        }
      }
    }
  }
  .container-footer {
    margin: 30px 0 0;
    .btn {
      padding: 0 15px;
      min-width: 125px;
      height: 40px;
      line-height: 40px;
    }
  }
}

.events-preview.events-list {
  &.row{
    margin: 0 5px;
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      margin: 0 -15px;
    }

  }
  .table {
    border-spacing: 0;
    vertical-align: middle;
    margin: 20px 0 0;
    background-color: #fff;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.05);
  }
  .event-premium {
    .dropup {
      & > .btn-info {
        padding: 0;
        @include button-variant(#fff, transparent, transparent)
      }
    }
  }
  .td {
    vertical-align: top;
  }
  .img-container {
    width: 80px;
    position: relative;
    overflow: hidden;
    height: 85px;
    .container-absolute {
      left: 5px;
      top: 5px;
    }
    .event-time {
      color: #000;
      background-color: #FECC0C;
      width: 48px;
      text-align: center;
      vertical-align: middle;
      height: 28px;
      line-height: 28px;
      font-size: 18px;
      font-weight: bold;
      float: left;
    }
    .black-block {
      float: left;
      height: 28px;
      line-height: 28px;
      width: 23px;
      text-align: center;
      color: #fff;
      background-color: #000;
    }
  }
  .title {
    margin: 13px 16px 0 0;
    padding-bottom: 10px;
    font-size: 14px;
    font-weight: bold;
  }
  .data {
    font-size: 12px;
    line-height: 1;
    color: #4C4C4C;
  }
  .event-premium {
    .table {
      background-color: #000;
    }

    .title {
      color: #fff;
    }
    .data {
      color: #a9a9a9;
    }
  }
  .stars {
    padding-right: 13px;
    font-size: 0;
    .icon-crown {
      font-size: 10px;
      color: #b5b5b5;
      &.active {
        color: #fecc0c;
      }
    }
  }
  .dropup {
    padding-top: 10px;
    right: 15px;
    & > .btn-info {
      padding: 0;
      font-size: 16px;
      @include button-variant(#000, transparent, transparent)
    }
    .dropdown-menu {
      padding: 25px 25px 20px !important;
      width: 215px;
      border-radius: 0;
      left: auto;
      right: -10px;
      color: #000;
      &:after {
        content: '';
        width: 0;
        height: 0;
        border-left: 10px solid transparent;
        border-right: 10px solid transparent;
        border-top: 15px solid #fff;
        position: absolute;
        right: 8px;
        bottom: -13px;
      }

      @media screen and (min-width: map-get($grid-breakpoints, sm)) {
        left: 50%;
        transform: translateX(-50%);
        right: auto;
        &:after{
          left: 50%;
          right: auto;
          transform: translateX(-50%);
        }
      }
    }
    .schedule {
      font-size: 13px;
      font-weight: bold;
      line-height: 16px;
    }
    .title {
      font-size: 16px;
      margin: 0;
      padding: 0;
      font-weight: bold;
      line-height: 19px;
      color: #000000;
    }
    .table {
      background-color: #fff;
      box-shadow: none;
      border-spacing: 0;
      margin-top: 15px;
      color: #000;
      a {
        color: #000;
      }
      .td {
        padding-bottom: 15px;
        &:first-child {
          font-weight: 700;
          padding-right: 7px;
          font-size: 12px;
          line-height: 14px;
          color: #000000;
        }
        &.helvetica-font {
          font-size: 12px;
          line-height: 14px;
          color: #4C4C4C;
          a {
            text-decoration: underline;
            color: inherit;
          }
        }
        span {
          font-size: 12px;
          line-height: 14px;
          color: #4C4C4C;
          display: block;
        }
      }
    }
  }
}