.container-events {
  @media screen and (max-width: 767px) {
    padding: 0;
    .navbar-nav{
      margin: 0;
    }
    .dropdown-menu{
      padding: 0 !important;
      min-width: 0 !important;
      width: 100%;
    }
    .container-checkbox{
      text-align: left;
      margin: 15px 0;
    }
    .map{
      margin-left: -30px;
      margin-right: -30px;
    }
  }
  .navbar {
    @extend .navbar-inverse;
    border-radius: 0;
    min-height: 75px;
    margin: 0;
    border: none;
    background-color: #000;
    .navbar-brand{
      line-height: 50px;
      vertical-align: middle;
      padding: 0 30px;@media screen and (min-width: map-get($grid-breakpoints, sm)) {
      line-height: 75px;
    }
      color: #fff;
      font-size: 22px;
    }
    .dropdown.open>a:after{
      bottom: 0;
      width: 64px;
    }
    .dropdown-menu{
      background-color: #000;
      border-radius: 0;
      border: none;


    }
    .nav {
      position: relative !important;
      padding: 0 30px;
      @media screen and (min-width: map-get($grid-breakpoints, sm)){
        padding: 0;
      }
      & > li {
        & > a {
          background-color: transparent !important;
          color: #fff;
          line-height: 50px;
          font-size: 13px;
          padding: 0;
          @media screen and (min-width: map-get($grid-breakpoints, sm)) {
            line-height: 75px;
            padding: 0 20px;
          }
          vertical-align: middle;
          [class*="icon-"]{
            vertical-align: middle;
          }
          span{
            vertical-align: middle;
            display: inline-block;
            padding: 0 7px;
          }
          .fa{
            vertical-align: middle;
          }
          &.text-muted{
            color: #c6c6c6;
          }
        }
        @media screen and (max-width: 767px) {
          & + li {
            border-top: 1px solid #4C4C4C;
          }
        }
        &.powered-by{
          padding-right: 15px;
          &>span, &>a{
            display: inline-block;
            line-height: 75px;
          }
          span{
            opacity: 0.45;
            font-size: 12px;
            color: #FFFFFF;
          }
        }
      }
    }
  }
}