.container-relative {
  position: relative;
  @media screen and (min-width: 768px) {
    height: 150px;
  }
  @media screen and (max-width: 767px) {
    overflow: hidden;
  }
  .container-absolute {
    @media screen and (max-width: 767px) {
      padding-top: 20px;
      overflow: hidden;
      &:before {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        top: 1px;
        border-bottom: 20px solid #000;
        border-right: 768px solid transparent;
        overflow: hidden;
      }
    }
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      position: absolute;
      padding: 0;
      left: 0;
      right: 0;
      bottom: 0;
      top: auto;
    }
  }
  .container-content {
    background-color: #fff;
    padding: 15px;
    .table{
      table-layout: fixed;
      border-spacing: 0;
      .td{
        .thumbnail{
          margin: 0 5px;
        }
      }
    }

    @media screen and (max-width: 991px) {
      overflow: auto;
    }
  }
}

.container-events {
  max-width: 1170px;
  .event-navbar {
    position: relative;

  }
}