.exclusive-news {
  margin-top: 20px;
  overflow: hidden;
  &>.col-12{
    min-height: 240px;
    position: relative;
  }
  .img-container {
    position: absolute !important;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .absolute-label {
    position: absolute;
    color: #000;
    padding: 5px 10px;
    background-color: #FECC0C;
    font-size: 12px;
    left: 15px;
    top: 15px;
  }
  .content {
    background-color: #fff;
    padding: 20px;
    position: relative;
    &:before {
      content: '';
      width: 0;
      height: 0;
      position: absolute;
      top: -19px;
      left: -15px;
      right: -15px;
      border-bottom: 20px solid #fff;
      border-right: 768px solid transparent;
      overflow: hidden;
    }
    @media screen and (min-width: map-get($grid-breakpoints, sm)) {
      padding: 40px 30px 30px 40px;
      &:before{
        display: none;
      }
    }
  }

  .red-label {
    background-color: #F92F2F;
    display: inline-block;
    padding: 7px 12px;
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF;
  }

  .title {
    font-size: 24px;
    font-weight: 700;
    margin: 15px 0;
  }

  .description {
    font-size: 12px;
    margin-bottom: 67px;
  }

  .read-more {
    font-weight: 700;
    font-family: BebasNeue, Bebas, serif;
    font-size: 12px;
    color: #000;
  }

  .author {
    font-size: 12px;
    font-weight: bold;
  }

  .date {
    font-size: 12px;
    color: #999999;
  }

  .social {
    @extend .helvetica-font;
    font-size: 10px;
    font-weight: 500;
    .d-inline-block {
      margin-left: 7px;
    }
  }

}