.container-header {
  font-size: 42px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 75px;
  color: #fff;
}

.container-form {
  margin: 50px auto 80px;
  .form-group {
    max-width: 280px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
  .container-checkbox{
    padding: 0 !important;
  }
  .form-control{
    border-color: #E7EDF2;
    transition: none;
    color: #000;
    letter-spacing: 1px;
    height: 40px;
    padding-top: 9px;
    &.bootstrap-select{
      padding-top: 0;
    }
  }
  textarea{
    resize: none;
    min-height: 110px;
  }
  .btn-default.dropdown-toggle{
    background-color: #fff !important;
    border: 1px solid #E7EDF2 !important;
    height: 40px;
    padding-top: 9px;
    .filter-option{
      color: #000 !important;
      font-weight: bold;
      letter-spacing: 1px;
    }
  }
  .custom-checkbox {
    padding-left: 0 !important;
    width: 20px;
    height: 20px;
    margin: 0;
    line-height: 20px;
    border: 2px solid #000;
    input[type="checkbox"]:checked + .fa-check {
      display: block;
      position: static;
      line-height: 17px;
      width: 100%;
      &:before{
        z-index: 1001;
        position: relative;
        font-size: 12px;
        color: #fff;
      }
      &:after{
        content: '';
        left: 0;
        right: 0;
        top: 0;
        bottom: -2px;
        position: absolute;
        background-color: #000;
      }
    }
  }
  .btn{
    font-size: 13px;
    font-weight: bold;
    min-width: 125px;
    padding: 12px;
    letter-spacing: 1px;
  }

  label, .control-label {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 1px;
    color: #3E3E3E;
    display: block;
    margin-bottom: 8px;
    &.custom-upload{
      @extend .custom-upload;
    }
  }
}