.container-news {
  margin: 60px auto 40px;

  position: relative;
  .container-title {
    margin: 0 0 45px;
  }
  .thumbnail:nth-child(2n) {
    .caption:before {
      border-bottom-width: 25px;
      top: -25px;
      border-left: 320px solid transparent;
    }
  }
  .thumbnail:nth-child(2n-1) {
    .caption:before {
      top: -15px;
      border-bottom-width: 25px;
    }
  }
  .additional-info {
    font-family: BebasNeue, serif;
    margin-top: 25px;
    .publisher {
      font-weight: 700;
      font-size: 12px;
    }
    .publish-day {
      color: #999999;
      font-size: 12px;
    }
    .actions {
      & > span {
        &:first-child {
          margin-right: 10px;
        }
        i {
          font-size: 14px;
        }
        span {
          font-size: 10px;
        }
      }
    }
    &.sponsor {
      margin: 30px 0 20px;
    }
  }
}

.container-slider {
  &.slick-slider {
    position: static;
  }
  .thumbnail {
    margin: 0 10px;
    border: none;
    .caption {
      background-color: #fff;
    }
  }
  .btn-parallel.btn-lg {
    width: 48px;
    padding-top: 1px;
    padding-bottom: 1px;
    position: absolute;
    top: -7px;
    right: 20px;
    &.btn-left {
      right: 72px;
    }
  }
}

.news-list {
  margin-top: 30px;
  margin-bottom: 0;
  &.row {
    > [class*="col-"] {
      margin-bottom: 30px;
      .thumbnail {
        height: 100%;
      }
      &:nth-child(3n-2), &:nth-child(3n) {
        .caption:before {
          border-bottom-width: 25px;
          top: -25px;
          border-left: 520px solid transparent;
        }
      }
    }
  }
  .thumbnail {
    & > a > img, & > img {
      width: 100%;
    }
    .caption:before {
      border-right-width: 520px;
    }
  }
  .publisher {
    margin-bottom: 10px;
  }
  .sponsor {
    font-size: 12px;
    color: #999;
  }
}

.news-readed {
  position: absolute;
  color: #fff;
  font-size: 14px;
  right: 15px;
  top: 10px;
}