.container-poster {
  padding: 110px 0;
  color: #fff;
  .poster-date {
    font-size: 22px;
    font-weight: bold;
  }
  .container-title {
    font-size: 66px;
    font-weight: bold;
    margin: 20px 0 40px;

  }
  .btn-white {
    color: #415261;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    height: 41px;
    width: 130px;
    padding: 0;
    line-height: 41px;
    font-size: 14px;
    font-weight: 700;
  }
}