$yellow: #FECC0C;
$red: #EF5252;
@font-face {
  font-family: 'BebasNeue';
  src: url('../fonts/BebasNeue.eot');
  src: url('../fonts/BebasNeue.eot?#iefix') format('embedded-opentype'),
  url('../fonts/BebasNeue.woff2') format('woff2'),
  url('../fonts/BebasNeue.woff') format('woff'),
  url('../fonts/BebasNeue.ttf') format('truetype'),
  url('../fonts/BebasNeue.svg#BebasNeue') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'Bebas';
  src: url('../fonts/Bebas.eot?#iefix') format('embedded-opentype'),
  url('../fonts/Bebas.woff') format('woff'),
  url('../fonts/Bebas.ttf') format('truetype'),
  url('../fonts/Bebas.svg#Bebas') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap.scss";
@import "../../node_modules/slick-carousel/slick/slick.scss";
@import "../../node_modules/slick-carousel/slick/slick-theme.scss";
@import "../../node_modules/font-awesome/scss/font-awesome";
@import "../../node_modules/flag-icon-css/sass/flag-icon";
@import "../../node_modules/bootstrap-select/sass/bootstrap-select";
@import "grid_scss/bs3-flexgrid";
@import "modules/common/jquery.mCustomScrollbar";
@import "modules/common/bootstrap-tabs-x.min";
@import "modules/common/icons";
@import "modules/common/components";

html {
  height: 100%;
}

body {
  background-color: #f6f6f6;
  font-family: "BebasNeue", "Bebas", serif;
  letter-spacing: 1px;
  overflow-x: hidden;
}

.helvetica-font {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  letter-spacing: 0;
  font-size: 12px;
}

.row {
  &:before, &:after {
    display: none;
  }
}
header>.container, body>.container{
  max-width: 970px;
}

@import "modules/common/header-message";
@import "modules/common/nav";
@import "modules/header/header";
@import "modules/common/dropdown";
@import "modules/common/thubnail";
@import "modules/events/events";
@import "modules/news/news";
@import "modules/news/poster";
@import "modules/gallery/party-contest";
@import "modules/common/footer";
@import "modules/common/mobile-menu";
@import "modules/common/account-form";
@import "modules/common/fiter-navbar";
@import "modules/news/news-exclusive";
@import "modules/common/reviews";

body[data-page="home-preview"] {
  @import "modules/header/home-preview";
  @import "modules/events/events-absolute";
}

body[data-page="home-live"] {
  @import "modules/header/home-live";
  @import "modules/events/events-home-live";
}

body[data-page="home-review"] {
  @import "modules/header/home-review";
}

body[data-page="account"] {
  @import "modules/common/account-container";
}

body[data-page="agenda-list"] {
  @import "modules/header/agenda-listing";
  @import "modules/events/events-agenda-listing";
  @import "modules/gallery/media-previews";
}

body[data-page="news-list"] {
  @import "modules/header/news-list";
  .container-main > .container {
    max-width: 970px;
  }
}

body[data-page="news-detail"] {
  @import "modules/header/news-detail";
  footer {
    margin-top: 0;
  }
}body[data-page="policy-guidelines"] {
  .img-container{
    height: 100%;
  }
  @import "modules/header/news-detail";
  @import "modules/common/policy-guidelines";
  footer {
    margin-top: 0;
  }
}

body[data-page="news-form"] {
  @import "modules/news/news-form";
}
body[data-page="agenda-add"] {
  @import "modules/events/events-add";
}

body[data-page="party-detail"] {
  @import "modules/header/party-detail";
  @import "modules/news/news";

  @import "modules/gallery/media-previews";
}
